<div class='row'>
  <div class="col-sm-3">
    <%= phrase.text %>
  </div>
  
  <div class="col-sm-4">
    <audio src='<%= phrase.blob %>' controls></a>
  </div>
  
  <div class="col-sm-3">
    <%= form_tag(phrase_path(phrase.id), method: "delete") do %>
      <input type="hidden" name="phrase[id]" value='<%= phrase.id %>' />
      <%= submit_tag("Delete") %>
    <% end %>
  </div>
</div>